configuration {
    font: "Ubuntu 13";
    line-margin: 14;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;

    drun-display-format: "{icon} {name}";
}

@theme "/home/janpstrunn/.config/rofi/elegantvagrant-dark.rasi"
@theme "/home/janpstrunn/.config/rofi/elegantvagrant-oled.rasi"
